* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  max-width: 260px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

img {
  width: 100%;
  border-radius: 10px;
}

h1 {
  padding: 12px 0px;
  text-align: center;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 1.2rem
}

p {
  text-align: center;
  color: hsl(220, 15%, 55%);
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 15px;
}

ul {
  /* width: 200px; */
  margin: 0 auto;
}
